*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.search-container {
    display: flex;
    align-items: end;
    border-radius: 60px;
    max-width: 400px;
  }
  
input[type=text] {
    margin: 10px;
    background: transparent;
    flex: 1;
    font-size: 17px;
    border: 0;
    outline: none;
  }

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    
    background: #7EB693;
    font-size: 12px;
    color: white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
  }
  
  
  .search-container2 {
    display: flex;
    align-items: end;
    border-radius: 60px;
    
    padding-right: 15px;
    margin-left: 5px;
  }
    

  .search-container2 button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    background: #274C5B;
    font-size: 12px;
    color: white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
  }
  .search-container2 p{
    margin-top: 9px;
    margin-left: 5px;
    
  } 
  ul li a{
    color:#274C5B ;
  }
  .navbar{
    height: 100px;
  }
  .sec{
    padding-top: 100px;
  }
  .small-card:hover{
    transform: scale(1.05, 1.05);
    transition: all 0.5s ease-in-out ;
    
}
.small-card2{
  position: relative;
  border-radius: 30px;
}
.small-card2  .small-word1{
  position: absolute;
  display: inline-block;
   border-radius: 10Px;
    margin: 40% 40%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.833);
    font-weight: bold;
}
.small-card2  .small-word{
  position: absolute;
  display: inline-block;
   padding: 40% ;
    margin: 5% 10%;
    z-index: 1;
}

.small-word:hover{
  

  background: #FFFFFFE8;
  border-radius: 30px;
}